* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gameContainer {
    text-align: center;
    width: 40%;
    height: 50vh;
}

.gameInstructions {
    display: inline-block;
}

.gameInstructions h1 {
    font-family: sans-serif;
    font-size: 3rem;
    padding-bottom: .7rem;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    cursor: pointer;
}

img {
    height: 10px;
}

.instructionMsg h2 {
    font-family: sans-serif;
    padding-bottom: .6rem;
}

.instructionMsg li {
    font-family: Poppins, sans-serif;
    padding-bottom: .5rem;
    list-style: none;
    color: grey;
}

.startGame h1 {
    font-family: sans-serif;
    font-size: 3rem;
}

a {
    color: #0f0f0f;
    text-decoration: none;
    text-decoration-color: none;
}

.allow {
    display: none;
}

@media screen and (max-width: 769px) {
    .gameInstructions h1 {
        font-family: sans-serif;
        font-size: x-large;
        padding-bottom: .7rem;
    }
    img {
        padding-bottom: .2rem;
        height: 10px;
    }
    .startGame h1 {
        font-family: sans-serif;
        font-size: x-large;
        text-wrap: nowrap;
    }
    .instructionMsg li {
        font-family: Poppins, sans-serif;
        font-size: smaller;
        padding-bottom: .5rem;
        list-style: none;
        color: grey;
    }
}